<div class="mockup-window border-none bg-base-300 shadow-md shadow-indigo-500/40">
    <section class="flex flex-row gap-4 p-8 justify-center">
        <div class="avatar">
            <div class="w-32 rounded-xl">
                <img [src]="userData.photoURL" [alt]="userData.displayName" />
            </div>
        </div>
        <article class="flex flex-col gap-2 justify-center">
            <div class="badge badge-lg">
                <span class="text-xs md:text-base">
                    Username: {{userData.displayName}}
                </span>
            </div>
            <div class="badge badge-lg">
                <span class="text-xs md:text-base">
                    Email: {{userData.email}}
                </span>
            </div>
            <div class="badge badge-lg">
                <span class="text-xs md:text-base">
                    Created at: {{userData.createdAt | date:'medium'}}
                </span>
            </div>
            <div class="badge badge-lg">
                <span class="text-xs md:text-base">
                    Last login: {{userData.lastLoginAt | date:'medium'}}
                </span>
            </div>
        </article>
    </section>
    <div class="divider mx-8 my-0"></div>
    <section class="p-8 min-h-[80vh]">
        <ng-template [ngIf]="userSpecies" [ngIfElse]="loading">
            <h2 class="text-lg md:text-xl text-center mb-4">
                Your have {{userSpecies.length}} out of 5 species.
            </h2>
            <ng-template [ngIf]="userSpecies.length > 0" [ngIfElse]="noSpecies">
                <div class="card card-side bg-base-100 shadow-xl mb-4 flex-col md:flex-row"
                    *ngFor="let species of userSpecies">
                    <figure>
                        <img class="w-96 h-64" [src]="species.imageUrl" [alt]="species.name">
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title">
                            {{species.name}}
                        </h2>
                        <p>
                            {{species.info}}
                        </p>
                        <div class="card-actions justify-end">
                            <button class="btn btn-primary">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template #noSpecies>
                <div class="hero min-h-[70vh] rounded-lg"
                    style="background-image: url(../../../../assets/images/not-found.jpg);">
                    <div class="hero-overlay bg-opacity-60"></div>
                    <div class="hero-content text-center text-neutral-content">
                        <div class="max-w-md">
                            <p class="mb-5">
                                “Two possibilities exist: either we are alone in the Universe or we are not. Both are
                                equally terrifying.”
                                — Arthur C. Clarke
                            </p>
                            <a class="btn btn-primary" routerLink="../species">
                                Let's Change This
                            </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-template>
        <ng-template #loading>
            <div class="h-[70vh] flex justify-center items-center">
                <div class="lds-grid scale-150">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </ng-template>
    </section>
</div>