<div class="mockup-window border-none bg-base-300 shadow-md shadow-indigo-500/40">
    <div class="hero min-h-screen" style="background-image: url(../../../../assets/images/banner.jpg);">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-4xl font-bold">
                    Welcome to Voyage!
                </h1>
                <p class="mb-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis pariatur ullam ducimus libero voluptatum. Possimus in similique minus. Accusantium obcaecati tempora animi illo quibusdam qui earum mollitia, aperiam officiis sunt.
                </p>
                <button class="btn btn-primary">
                    Get Started
                </button>
            </div>
        </div>
    </div>
</div>