<div class="navbar bg-base-100 mb-4 rounded-2xl shadow-md shadow-indigo-500/40">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </label>
            <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a routerLink = "/explore" routerLinkActive= "active">
                        Explore
                    </a>
                </li>
                <li>
                    <a routerLink = "/species" routerLinkActive= "active">
                        Species
                    </a>
                </li>
                <li>
                    <a routerLink = "/gaming" routerLinkActive= "active">
                        Gaming
                    </a>
                </li>
            </ul>
        </div>
        <a class="btn btn-ghost normal-case text-xl flex-nowrap px-10" routerLink = "/home">
            <img src="../../../../assets/icons/orrery.svg" alt="Logo">
            <span>
                Voyage
            </span>
            <audio src="../../../../assets/sound/space.mp3" control autoplay loop></audio>
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal p-0">
            <li>
                <a routerLink = "/explore" routerLinkActive= "active">
                    Explore
                </a>
            </li>
            <li>
                <a routerLink = "/species" routerLinkActive= "active">
                    Species
                </a>
            </li>
            <li>
                <a routerLink = "/gaming" routerLinkActive= "active">
                    Gaming
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-end">
        <ng-template [ngIf]="authFirebase.user" [ngIfElse]="loginButton">
            <div class="dropdown dropdown-end">
                <label tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full" *ngIf="authFirebase.user | async as user$">
                        <img [src]="user$.photoURL" [alt]="user$.displayName" />
                    </div>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a class="justify-between" routerLink = "/profile" routerLinkActive= "active">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a (click)="logout()">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </ng-template>
        <ng-template #loginButton>
            <a class="btn" (click)="login()">
                Login
            </a>
        </ng-template>
    </div>
</div>