<div class="mockup-window border-none bg-base-300 shadow-md shadow-indigo-500/40">
	<div class="m-8 flex flex-wrap gap-6 justify-center">
		<div class="card card-compact w-96 h-96 bg-base-100 shadow-xl" *ngFor="let planet of planetService.database">
			<figure>
				<img src="{{planet.imageUrl}}" alt="{{planet.name}}" width="100%" />
			</figure>
			<div class="card-body flex-row justify-between items-center">
				<h2 class="card-title">
					{{planet.name}}
				</h2>
				<div class="card-actions justify-end">
					<button class="btn btn-primary">
						<a routerLink="/explore/{{planet.name | lowercase}}">
							More Info
						</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>